<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://doc-04-c8-docs.googleusercontent.com/docs/securesc/7d6h3br47mi0vba08s87s9lq8lurfks8/th2t4cfqn5p765orp7tpee2ndeept0jg/1658836425000/00041705335691012842/12360602525205600774Z/1CSzeu-KE-zRxVDuw3OdLYmXhIB4i5q3W?e=download&uuid=c1315641-1179-472d-82e9-10717507ebde&nonce=t8rq2dj9m46ca&user=12360602525205600774Z&hash=shiq15e492jdfnvheda52kkk3ibro4qv</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/Saleh7/ipa-install/master/Icon%402x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/Saleh7/ipa-install/master/Icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.saleh7.testapp</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>testapp</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
